.container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
        @media screen and (min-width: 319.98px) {
            width: 320px;
        }
        @media screen and (min-width: 479.98px) {
            width: 480px;
        }
        @media screen and (min-width: 767.98px) {
            width: 768px;
        }
        @media screen and (min-width: 1199.98px) {
            width: 1200px;
        }
}
