:root {
    --primarly-black-color: #212121;
    --primarly-gray-color:#757575;
    --hero-color:#2F303A;
    --primarly-white-color:#FFFFFF;
    --accent-color:#2196F3;
    --footer-contacts: rgba(255, 255, 255, 0.6);
    --icon-color: #AFB1B8;
}